# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json
pnpm-lock.yaml

# build
main.js
*.js.map

# obsidian
data.json

# debug
logs.txt

# hidden files
.*
!.gitignore
!.github/

# env
.env
tests_coverage/

# Project Management & Artifacts
upstream_tracker.md
upstream_issues.md
issues*.json
